body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-container{
    width: 100%;
    height: 60px;
    background-color: #CA4645;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px 0 100px;
}
#logo{
    color: rgb(209, 215,219);
    font-family:"Lucida Handwriting",cursive;
   
}

.nav-group{
    display: flex;
    gap: 15px;
}

.nav-group-item{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
}

.nav-group-item:hover{
    opacity: 1;
}

.body-div1{
    position: relative;
    width: 100%;
}

.body-div1 img{
    width: 100%;
    height: auto;
}

.h1-overlay{
    position: absolute;
    top: 20px;
    left: 200px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: #fff;
}

.p-overlay{
    position: absolute;
    top: 70px;
    left:200px;
    color: #A3A3A2;
}

.body-div2{
    width: 100%;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div2-heading{
    padding-top: 30px;
}

.div2-p{
    font-size: 9px;
    text-align: center;
    color: #B9B9B9;
    font-weight: 600;
}

.body-div3{
    width: 100%;
    height: 260px;
    background-color: #E5E5E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div3-heading{
    padding-top: 50px;
}

.div3-p{
    font-size: 11px;
    text-align: center;
    color: #B9B9B9;
    font-weight: 600;
}

.base-boxes{
    display: flex;
    gap: 12px;
    padding-top: 50px;
    
}

.box{
    width: 250px;
    height: 105px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 35px;
}

